{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Players > Profile > {{profile.full_name}}{% endblock %}

{% block body_block %}

    <div class="container">
        
        <!--user-->
        <div class="row">
            <div class="col-md-12"><h1>Profile <small>{{player.username}}</small></h1></div>
        </div>
        
        <!--user details-->
        <div class="row">
            
            <div class="col-md-3"><img src="/media/{{profile.avatar}}" class="img-responsive"></div>
            <div class="col-md-9">
                <h2>{{profile.full_name}}</h2>
                <p>
                    
                 </p>
                <div class="btn-group" role="group" style="margin-top: 40px;">
                    <a href="mailto:{{player.email}}" class="btn btn-success"><span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;Email User</a>
                    {% if player.id == user.id %}  <!--make sure it's 'our' profile that we see those btns-->
                    <a href="/zombie/profile_update/" class="btn btn-info"><span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;Update your Profile</a>
                    <a href="/zombie/accounts/password_change/" class="btn btn-warning"><span class="glyphicon glyphicon-asterisk"></span>&nbsp;&nbsp;Change your Password</a>
                    {% endif %}
                </div>
            </div>
            
        </div>
        
       
            </div>
        </div>

    </div>


{% endblock %}