<!DOCTYPE html>

{% load staticfiles %}

<html>
    <head>
        <title>CSS Example 2.0</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/common_style.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/index_style.css' %}" />
        
        <script>
            {% if registration_errors %}
                str = "Error creating account:\n";
                {% if errors.0 %}
                    str += "Username all ready in use.\n";
                {% endif %}
                {% if errors.1 %}
                    str += "Username must contain only lowercase letters, and numbers.\n";
                {% endif %}
                {% if errors.2%}
                    str += "Email invalid.\n";
                {% endif %}
                {% if errors.3 %}
                    str += "Passwords did not match.\n";
                {% endif %}
                alert(str);
            {% endif %}
            {% if registration_successful %}
                alert("Successfully registered.");
            {% endif %}
            {% if login_errors %}
                alert("Invalid login details. Please try again.");
            {% endif %}
        </script>

    </head>
    <body>
        <div id="content_area">
            <img width=800 height=600 src="{% static 'img/index_screen.png' %}" usemap="#screen_map" />
            <map id="screen_map">
                <area shape="rect" coords="217, 459, 302, 497" href="javascript:void();" onclick="openLogInPopUp()"/>
                <area shape="rect" coords="386, 461, 566, 499" href="main.html" />
            </map>
            <div id="grey_overlay" onclick="closePopUp();"></div>
            <div id="log_in_pop_up">
                <form action="/zombie/login/" method="POST">
                    {% csrf_token %}
                    <table id="log_in_pop_up_fields_table">
                        <tr>
                            <td>Username:</td>
                            <td><input type="text" id="log_in_pop_up_username_textbox" name="username"/></td>
                        </tr>
                        <tr>
                            <td>Password:</td>
                            <td><input type="password" id="log_in_pop_up_password_textbox" name="password"/></td>
                        </tr>
                    </table>
                    <table id="log_in_pop_up_buttons_table">
                        <tr>
                            <td><input type="image" width=70 height=30 src="{% static 'img/index_log_in.png' %}" /></td>
                            <td><a href="#" onclick="closeLogInPopUp()"><img width=70 height=30 src="{% static 'img/index_cancel.png' %}" /></a></td>
                            <td><a href="#" onclick="switchToRegisterPopUp()"><img width=91 height=30 src="{% static 'img/index_register.png' %}" /></a></td>
                        </tr>
                    </table>
                </form>
            </div>
            <div id="register_pop_up">
                <form method="post" action="/zombie/register/">
                    {% csrf_token %}
                    <div id="register_pop_up_title">Please Enter Your Details:</div>
                    <table id="register_pop_up_fields_table">
                        <tr>
                            <td>Username:</td>
                            <td><input type="text" id="register_pop_up_username_textbox" name="username" /></td>
                        </tr>
                        <tr>
                            <td>Email:</td>
                            <td><input type="text" id="register_pop_up_email_textbox" name="email" /></td>
                        </tr>
                        <tr>
                            <td>Password:</td>
                            <td><input type="password" id="register_pop_up_password1_textbox" name="password1" /></td>
                        </tr>
                        <tr>
                            <td>Password Again:</td>
                            <td><input type="password" id="register_pop_up_password2_textbox" name="password2"/></td>
                        </tr>
                    </table>
                    <table id="register_pop_up_buttons_table">
                        <tr>
                            <td><input type="image" width=91 height=30 src="{% static 'img/index_register.png' %}" /></td>
                            <td><a href="#" onclick="closeRegisterPopUp()"><img width=70 height=30 src="{% static 'img/index_cancel.png' %}" /></a></td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
        <script src="{% static 'js/index_script.js' %}"></script>
    </body>
</html>