<!DOCTYPE html>

{% load staticfiles %}

<html>
    <head>
        <title>CSS Example 2.0</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/common_style.css' %}" />
    </head>
    <body>
        <div id="content_area">
            <img width=800 height=600 src="{% static 'img/main_screen.png' %}" usemap="#screen_map" />
            <map id="screen_map">
                <area shape="rect" coords="182, 415, 354, 446" href="javascript:void()" onclick="new_game()" />
                <area shape="rect" coords="441, 416, 613, 446" href="/zombie/game/" />
                <area shape="rect" coords="113, 475, 285, 505" href="/zombie/leaderboard/" />
                <area shape="rect" coords="313, 475, 485, 505" href="/zombie/profile/{{ username }}" />
                <area shape="rect" coords="514, 475, 686, 505" href="/zombie/profile/{{ username }}/badges/" />
                <area shape="rect" coords="613,  17, 785,  47" href="/zombie/logout/" />
            </map>
        </div>
        <form id="submission_form" action="/zombie/game/" method="POST">
            {% csrf_token %}
        </form>
        <script type="text/javascript" src="{% static 'js/main_script.js' %}"></script>
    </body>
</html>