body{
    background-color: grey;
}

#content_area{
    position: absolute;
    
    top: 50%;
    left: 50%;
    
    margin-left: -400px;
    margin-top: -300px;
    
    width: 804px;
    height: 608px;
    
    border-width: 2px;
    border-style: solid;
    
    background-color: white;
}