#leaderboard_word{
    position: absolute;
    
    top: 0px;
    left: 0px;
    
    width: 100%;
    height:30%;
    
    text-align: center;
    line-height: 180px;
    
    font-size: 52px;
}
#leaderboard_word span{
    display: inline-block;
    vertical-align: middle;
    line-height: normal; 
}

#leaderboard_table_div{
    position: absolute;
    
    top: 30%;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: 10px;
}

#leaderboard_table{
    position: absolute;
    
    width: 100%;
    height: 100%;
    
    border-collapse: collapse;
    font-size: 20px;
}

#leaderboard_table th, #leaderboard_table td{
    padding: 0px 10px 0px 10px;
    text-align: left;
    #border: 1px solid black;
}
#leaderboard_table th:hover{
    background-color: #C9F2FF;
}
#leaderboard_table tr:nth-child(even){
    background-color: #f2f2f2;
}
.sort_button_div{
    float: right;
}
#table_sort_button_1{
    visibility: hidden;
}
#table_sort_button_2{
    visibility: hidden;
}
#table_sort_button_3{
    visibility: hidden;
}